[user]
	name = "りーべ"
	email = "magical.liebe@gmail.com"

[alias]
    get = !ghq get -p
    move = !git checkout $(git brance | fzf)
    uncommit = !git reset --soft HEAD^
    wipe = !git branch --merged | egrep -v 'main|develop' | xargs git branch -D

[ghq]
	root = ~/work/src

[core]
    pager = delta

[interactive]
    deffFilter = delta --color-only --features=interactive

[merge]
    conflictstyle = diff3

[delta]
    side-by-side = true
    features = decorations
    line-numbers = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax